/* SEARCH BAR */
.wd-search {
    display: flex;
    border-color: rgb(47, 51, 54);
}

#search-field {
    border-radius: 50px;
    padding-right: 50%;
    padding-left: 5%;
    margin-bottom: 15px;
    color: "white";
}

#gear {
    color: rgb(12,110,243);
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 15px;
    font-size: large;
}

/* MAIN IAMGE */

/* Container holding the image and the text */
.wd-container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom left text */
  .wd-bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 24px;
  }

/* IMAGE POSTS */

.wd-img-post-container {
    border-width: 0.25px;
    border-style: solid;
    border-color: '#dfdfdf';
    height: 130px;
}

.wd-img-post {
    display: inline;
    width: 100%;
}

.wd-news-part {
    width: 70%;
    float: left;
}

.wd-image-part {
    float:right;
    margin-right: 16px;
    margin-top: 7px;
}

.wd-news-size {
    height: 100px;
    width: 100px;
    border-radius: 20px;
}

.wd-subheading {
    font-size: 13px;
    color: rgb(110, 118, 125);
    margin-bottom: 4px;
    margin-left: 16px;
}

.wd-gray {
    font-size: 13px;
    color: rgb(110, 118, 125);
}

.wd-title {
    font-size: 14px;
    color: black;
    margin-bottom: 4px;
    margin-left: 16px;
}

.wd-mheading {
    font-size: 14px;
    color: black;
    margin-bottom: 6px;
    margin-left: 16px;
}

#house {
    color: 'blue'
}

#tweet-button {
    margin-top: 10px;
}

/* FOLLOW SECTION */
.wd-follow-post-container {
    border-width: 0.25px;
}

.wd-follow-post {
    display: inline;
    width: 100%;
}

.wd-follow-news-part {
    margin-left: 15px;
    width: 40%;
    float: left;
}

.wd-follow-image-part {
    float:left;
    width: 15%;
    margin-top: 7px;
    margin-right: 10px;
}

.wd-follow-button-part {
    float:left;
    width: 30%;
    margin-top: 7px;
}

.wd-follow-text {
    font-size: 14px;
}
